@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
* {
  margin: 0;
  font-family: 'EB Garamond',Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  padding: 20px;
  text-align: center;
  /* float: left; */
  background-color: #ffff;
  background-repeat: no-repeat;
  font-size: 30px;
}

h1 {
  font-family: 'Pacifico';
  font-weight: 600;
  font-size: 48px;
  color: #ffff;
}

.logo {
  margin-bottom: 20px;
  height: 200px;
  width: 200px;
  border-radius: 50px;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-card {
  width: 400px;
  border: 2px solid #00000020;
  border-radius: 2px;
  text-align: left;
  background-color: white;
}

.image {
  width: 300px;
  /* border: 1px solid black; */
}

.title {
  text-align: left;
  padding: 15px 10px;
  font-size: 1rem;
  font-weight: 600;
  color: #000000dd;
}

.likes-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.likes {
  font-size: 1rem;
  font-weight: 600;
}

.like-button {
  color: rgb(255, 127, 80);
  font-size: 1.5rem;
  border: none;
  background: none;
  transition: color 300ms;
  cursor: pointer;
}

.like-button:hover {
  color: rgb(241, 71, 19);
}

.like-button:active {
  color: rgb(253, 159, 124);
}

.like-button:focus {
  outline: double;
}

.comments {
  list-style-type: none;
  margin-left: 0;
  padding-left: 10px;
  font-size: 0.9rem;
}

.comments li {
  margin: 2px 0;
  letter-spacing: 0.2px;
}

.comment-form {
  width: 100%;
  border-top: 1px solid #00000020;
  padding: 10px;
  margin-top: 10px;
}

.comment-input {
  width: 83%;
  border: none;
  font-size: 0.9rem;
}

.comment-input:focus {
  outline: none;
}

.comment-button {
  border: none;
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(92, 114, 238);
  cursor: pointer;
  transition: color 300ms;
}

.comment-button:hover {
  color: rgb(37, 68, 245);
}

.comment-button:active {
  color: rgb(127, 146, 250);
}

.comment-button:focus {
  outline: none;
}

/* Background */
.fullscreen-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Footer */
#da{
  color: #ffff;
  font-size: 20px;
  padding-top: 40px;
  font-weight: 800;
}